# Worker variables
GITHUB_REPO=your-github-id/ps-log-data
GITHUB_BRANCH=master
GITHUB_PATH=data.json
WORKER_NAME=ps-log

# Worker secrets
GITHUB_TOKEN=
RESEND_API_KEY=
MAIL_TO=
CRON_KEY=

# Optional settings
MAIL_FROM=
WORKER_CF_API_TOKEN=
WORKER_CF_ACCOUNT_ID=
