# 팀장 전용 중앙 랭킹 서버 설정 (.team.env로 복사)
TEAM_WORKER_NAME=ps-log-team
TEAM_DB_NAME=ps-log-team
TEAM_D1_DATABASE_ID=
TEAM_NAME=PS Log Team
SEASON_KEY=season-1
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
ADMIN_KEY=
SESSION_PEPPER=
DEPLOY_CF_ACCOUNT_ID=

